<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="ExchangeDBEntities" connectionString="metadata=res://*/Models.Entities.p01.ExchangeDB.csdl|res://*/Models.Entities.p01.ExchangeDB.ssdl|res://*/Models.Entities.p01.ExchangeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.40.196.234;initial catalog=ExchangeDB;user id=avval;password=!0G2bo2p;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<!--فی قیمت خرید اچ دی پی-->
		<add key="HDPayBuyPriceCommision" value="0"/>

		<!--فی قیمت فروش اچ دی پی-->
		<add key="HDPaySellPriceCommision" value="150"/>

		<!--آدرس لاگ ایکس ام ال-->
		<add key="DocumentPath" value="C:\Users\Diako\Desktop\XmlData\" />
	</appSettings>
</configuration>
